html
  head
    style(type="text/css").
      body {
          background: #000000;
          padding: 0px;
          margin: 0px;
      }
      canvas {
          display: block;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
    script(src="js/phaser.js")
  body
    script(src="custom/js/wheel_config_6.js")
    script(src="js/animCoins.js")
    script(src="js/wheelGame.js")
