html
  head
    style(type="text/css").
      body {
          background: #000000;
          padding: 0px;
          margin: 0px;
      }
      canvas {
          display: block;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
    script(src="js/phaser.js")
  body
    script.
      var config = !{wheelConfig}
      var wheelConfig = {
        ...config,
        createLamps: function (scene) {
          scene.lampsArray = [];
          var angle = (Math.PI * 2) / this.lamps.count;
          var piD2 = Math.PI / 2;

          for (var i = 1; i < this.lamps.count; i++) {
            var _angle = -angle * i - piD2;
            var _cos = Math.cos(_angle);
            var _sin = Math.sin(_angle);

            var posX = this.lamps.offset * _cos;
            var posY = this.lamps.offset * _sin;
            scene.lamp = new Lamp(scene, posX, posY);
            scene.lamp.on();
            scene.lampsArray.push(scene.lamp);
          }
        },
      };
    script(src="js/animCoins.js")
    script(src="js/wheelGame.js")
