html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/styles/login.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css", integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==", crossorigin="anonymous", referrerpolicy="no-referrer")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
    style.
      body {
          background: #000000;
          padding: 0px;
          margin: 0px;
      }
  body
    .login-container
      .box
        form#form(action="/game" method="post")
          .login-form
            .login-form-row
              p.label-require Phone Number
              .form-input-box
                input(name="phone", required placeholder="Enter phone number"  id="phone_number", class="form-input")
                i.text-white.las.la-phone.shrink-0
            .login-form-row
              p.label-require Name
              .form-input-box
                input(name="username" required, autocomplete="off" class="form-input", placeholder="Enter name", id="user_name")
            .login-form-row
              p.label-not-require Topics
              select#topics.js-example-basic-multiple(name="topics[]", multiple="multiple")
                option(value="AL") Nail Tech
                option(value="WY") POS
                option(value="AL2") Sote Exchange
                option(value="W3Y") Wyoming
            button#btn_submit(type="submit", class="btn-submit")
              p.label-not-require Submit
    script.
      $(document).ready(function () {
          Inputmask("(999) 999-9999", {
              placeholder: "-",
              greedy: true,
          }).mask('#phone_number');

          $('.js-example-basic-multiple').select2({
              placeholder: "Select topics"
          });
      });
   
