.select2-selection.select2-selection--multiple {
  padding: 12px 12px !important;
  border-radius: 12px !important;
  border: 1px solid #f7b84b !important;
  background: #4f2921 !important;
  min-height: 58px;
}

.select2-search__field {
  height: 32px !important;
  font-size: 24px !important;
  margin: 0px !important;
  line-height: 32px !important;
  color: white !important;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 0px 20px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.login-form-row {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.label-not-require {
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
}

.label-require {
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
}

.label-require::after {
  content: "*";
  color: red;
}

.form-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  color: white;
  background: #4f2921;
  border: 1px solid #f7b84b;
  border-radius: 12px;
  font-size: 24px;
  line-height: 32px;
}

.form-input-box:focus {
  outline: none;
}

.form-input {
  background: inherit;
  outline: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 24px;
  line-height: 32px;
}

.btn-submit {
  padding: 12px 16px;
  border-radius: 12px;
  width: 100%;
  background: orange;
  margin-top: 16px;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .box {
    width: 500px;
  }
}
